<footer>
  <div class="container-fluid text-center">
    <div class="row bg-dark" style="height:100px"></div>
    <div class="row align-items-center bg-dark border-top border-danger">
      <div class="col text-light">
        <img src={{ asset('logo/1971129.svg')}} width="70px"><br>
        <p>1 rue de paris<br>57000<br>Metz</p>
      </div>
      <div class="col text-light">
        <img src={{ asset('logo/558022.svg')}} width="50px"><br>
        <p class="p-2">01.02.03.04.05</p>
      </div>
      <div class="col text-light">
        <p>
          {% for hour in hours %}
          Horraires d'ouverture<br>
          Lundi: {{hour.mondayHours}}<br>
          Mardi: {{hour.tuesdayHours}}<br>
          Mercredi: {{hour.wednesdayHours}}<br>
          Jeudi: {{hour.thursdayHours}}<br>
          Vendredi: {{hour.fridayHours}}<br>
          Samedi: {{hour.saturdayHours}}<br>
          Dimanche: {{hour.sundayHours}}
          {% endfor %}
        </p>
      </div>
    </div>
    <div class="row align-items-center bg-dark">
      <p class="text-light">GarageVParrot @ 2023. Tous droits réservés</p>
    </div>
  </div>
</footer>