{% extends 'base.html.twig' %}

{% block title %}GestionU{% endblock %}

{% block body %}
<style>
    .photo{
        background-image: url(../pictures/gestionU.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>
<section class="container-fluid">
    <div class="photo row" style="height: 200px;">
        <div class="col d-flex justify-content-center align-items-center">
            <p class="text-light" style="font-size: 26px;">Gestion des utilisateurs</p>
        </div>
    </div>
    <div class="row bg-dark" style="height: 70px;">
        <div class="col d-flex align-items-center justify-content-center ">
            <a href="{{ path('app_register_add')}}">
                <button type="button" class="btn btn-success rounded">Ajouter un utilisateur</button>
            </a>
        </div>
    </div>
    {% for user in users %}
    <div class="row d-flex justify-content-center bg-dark">   
        <div class=" col-8 card mb-3 ">
            <div class="row ">
                <div class="col-md-4">
                    <img src={{ asset('assets/uploads/' ~ user.picture) }} class="card-img" alt="image de profil">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="row mt-3">
                          <div class="col-md-6 d-flex justify-content-center mt-3">
                              <div class="bg-light rounded text-center" style="width: 70%;" >
                                  <p class="m-2" >{{ user.firstname }}</p>
                              </div>
                          </div>
                          <div class="col-md-6 d-flex justify-content-center mt-3">
                              <div class="bg-light rounded text-center" style="width: 70%;" >
                                  <p class="m-2" >{{ user.lastname }}</p>
                              </div>
                          </div>  
                        </div>
                        <div class="row mt-3">
                          <div class="col-md-6 d-flex justify-content-center mt-3">
                              <div class="bg-light rounded text-center" style="width: 70%;" >
                                  <p class="m-2" >{{ user.email }}</p>
                              </div>
                          </div>
                          <div class="col-md-6 d-flex justify-content-center mt-3">
                              <div class="bg-light rounded text-center" style="width: 70%;" >
                                  <p class="m-2" >{{ user.roles[0] }}</p>
                              </div>
                          </div>  
                        </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-md-6 d-flex justify-content-center mt-3">
                              <div class="bg-light rounded text-center " >
                                  <a href="{{ path('app_register_edit' , {id: user.id } ) }}">
                                      <button type="button" class="btn btn-success rounded">Modifier</button>
                                  </a>
                              </div>
                          </div>
                          <div class="col-md-6 d-flex justify-content-center mt-3">
                            <div class="bg-light rounded text-center " >
                                <a href="{{ path('app_register_delete' , {id: user.id } ) }}">
                                    <button type="button" class="btn btn-danger rounded">supprimer</button>
                                </a>
                            </div>
                        </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
</section>   
{% endblock %}
