{% extends 'base.html.twig' %}

{% block title %}
Occasion
{% endblock %}

{% block body %}
<style>
    .photo{
        background-image: url(../pictures/occasion.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>
<section class="container-fluid bg-dark ">
    <div class="photo row" style="height: 200px;">
        <div class="col d-flex justify-content-center align-items-center">
            <p class="text-light" style="font-size: 26px;">Nos véhicules d'occasions</p>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="row m-4">
        <div class="col-md-4 row text-center text-light d-flex justify-content-center">
            <h2>Prix</h2>
            <div class="col-md-5">
                {{ form_row(form.minPrice)}}
            </div>
            <div class="col-md-5" >
                {{ form_row(form.maxPrice)}}
            </div>
        </div>
        <div class="col-md-4 row text-center text-light d-flex justify-content-center">
            <h2>Kilomètres</h2>
            <div class="col-md-5">
                {{ form_row(form.minKilometers)}}
            </div>
            <div class="col-md-5" >
                {{ form_row(form.maxKilometers)}}
            </div>
        </div>
        <div class="col-md-4 row text-center text-light d-flex justify-content-center">
           <h2>Année</h2>
           <div class="col-md-5">
                {{ form_row(form.minYear)}}
            </div>
            <div class="col-md-5" >
                {{ form_row(form.maxYear)}}
            </div>
        </div>
        <div class="row ">
            <div class="col d-flex justify-content-center">
                <button type="submit" class="btn btn-success mt-3 ">Filtrer</button>
            </div>
        </div>

        
    </div>
    {{ form_end(form) }}
    <div class="row">
        {% for car in cars %}
        <div class="col-md-4 d-flex justify-content-center mt-4" id="car">
            <div class="card bg-dark border border-danger" style="width: 25rem;">
                <img class="card-img-top" src={{ asset('assets/uploads/' ~ car.picture) }} alt="Card image cap" height="280px">
                <div class="card-body">
                  <h5 class="card-title text-center text-light">
                    {{ car.name }}
                  </h5>
                  <div class="row mt-3">
                    <div class="col-6 d-flex justify-content-center mt-3">
                        <div class="bg-light rounded text-center" style="width: 70%;" >
                            <p class="m-2" >{{ car.year }}</p>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-center mt-3">
                        <div class="bg-light rounded text-center " style="width: 70%;" >
                            <p class="m-2 " >{{ car.fuelType }}</p>
                        </div>
                    </div>  
                  </div>
                  <div class="row mt-3">
                    <div class="col-6 d-flex justify-content-center mt-3">
                        <div class="bg-light rounded text-center" style="width: 70%;" >
                            <p class="m-2" >{{ car.kilometers }}km</p>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-center mt-3">
                        <div class="bg-light rounded text-center" style="width: 70%;" >
                            <p class="m-2" >{{ car.gearbox }}</p>
                        </div>
                    </div>  
                  </div>
                  <div class="row mt-3">
                    <div class="col-12 d-flex justify-content-center mt-3">
                        <div class="bg-light rounded text-center" style="width: 70%;" >
                            <p class="m-2" >{{ car.description }}</p>
                        </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-12 d-flex justify-content-center mt-3">
                        <div class="bg-light rounded text-center" style="width: 40%;">
                            <p class="m-2 " >{{ car.price }} €</p>
                        </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-12 d-flex justify-content-center mt-3">
                        <div class="bg-light rounded text-center " >
                            <a href="{{ path('app_cars_details' , { id: car.id } ) }}">
                                <button type="button" class="btn btn-primary rounded">Details</button>
                            </a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}